@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

.arrow-icon.app-spot-guess {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  margin-left: 5px;
}

@keyframes app-spot-guess-flip-correct {
  0% {
    transform: rotateY(0deg);
    background-color: rgb(39, 39, 42);
  }
  50% {
    transform: rotateY(90deg);
    background-color: rgb(39, 39, 42);
  }
  51% {
    transform: rotateY(90deg);
    background-color: rgb(67, 168, 101);
  }
  100% {
    transform: rotateY(0deg);
    background-color: rgb(67, 168, 101);
  }
}

.correct {
  animation: app-spot-guess-flip-correct 1.65s ease-in-out forwards;
  animation-play-state: paused;
}

.animate-match {
  animation-play-state: running !important;
}