@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

.arrow-icon.app-spot-guess {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  margin-left: 5px;
}